Repository boostcamp-2020/Project18-B-iOS-BoostRunClub, pull requests merged in 2020-11, with the labels that each got.

#26 목표 설정 버튼과 목표 타입 뷰 연결
  BoostRunClub.xcodeproj/project.pbxproj
  BoostRunClub/.swiftlint.yml
  BoostRunClub/Coordinators/ActivityCoordinator.swift
  BoostRunClub/Coordinators/LoginCoordinator.swift
  BoostRunClub/Coordinators/PrepareRunCoordinator.swift
  BoostRunClub/Coordinators/ProfileCoordinator.swift
  BoostRunClub/Coordinators/RunningCoordinator.swift
  BoostRunClub/Coordinators/RunningTabFlowCoordinator.swift
  BoostRunClub/Coordinators/TabBarCoordinator.swift
  BoostRunClub/Services/LocationProvider.swift
  BoostRunClub/SupportingFiles/Base.lproj/LaunchScreen.storyboard
  BoostRunClub/SupportingFiles/Info.plist
  BoostRunClub/ViewModels/GoalTypeViewModel.swift
  BoostRunClub/ViewModels/PrepareRunViewModel.swift
  BoostRunClub/Views/ActivityViewController.swift
  BoostRunClub/Views/GoalTypeCell.swift
  BoostRunClub/Views/GoalTypeViewController.swift
  BoostRunClub/Views/LoginViewController.swift
  BoostRunClub/Views/PrepareRunViewController.swift
  BoostRunClub/Views/ProfileViewController.swift
  BoostRunClub/Views/RunningViewController.swift
Labels: 🏷️ feature 🚀

#34 viewModel에서의 coordinator 의존성 제거
  BoostRunClub/Coordinators/PrepareRunCoordinator.swift
  BoostRunClub/Models/GoalType.swift
  BoostRunClub/ViewModels/PrepareRunViewModel.swift
  BoostRunClub/Views/Controllers/PrepareRunViewController.swift
Labels: 🏷️ refactoring ✒

#39 PrepareRunViewModel 테스트 코드 작성(미완)
  BoostRunClub.xcodeproj/project.pbxproj
  BoostRunClub/Models/GoalType.swift
  BoostRunClub/ViewModels/GoalTypeViewModelTest.swift
  BoostRunClub/ViewModels/GoalValueSetupViewModelTest.swift
  BoostRunClub/ViewModels/PrepareRunViewModel.swift
  BoostRunClub/ViewModels/PrepareRunViewModelTest.swift
  BoostRunClubTests/BoostRunClubTests.swift
  BoostRunClubTests/Info.plist
  BoostRunClubTests/Mocks/LocationProviderMock.swift
Labels: 🏷 test🧪

#40 GoalValueSetupViewModel 테스트 코드 작성
  BoostRunClub.xcodeproj/project.pbxproj
  BoostRunClub/ViewModels/GoalTypeViewModelTest.swift
  BoostRunClub/ViewModels/GoalValueSetupViewModel.swift
  BoostRunClub/ViewModels/GoalValueSetupViewModelTest.swift
  BoostRunClub/Views/Controllers/GoalValueSetupViewController.swift
Labels: 🏷 test🧪
